@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-gray-200;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  @apply m-0 size-full;
}

body {
  @apply flex bg-gray-950;
}

h1 {
  @apply text-4xl text-gray-50 font-bold;
}

p {
  @apply text-base text-gray-200;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;

  &:hover {
    @apply bg-blue-700;
  }
}
